* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#f3aca9, #f005df);
    display: flex;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
}